{% extends "base.html" %}
{% load static %}

{% block custom_css_for_page %}
  <style type="text/css">
    .masthead.segment {
      min-height: 420px;
      padding: 1em 0em;
    }
    .masthead h1.ui.header {
      margin-top: 2em;
      margin-bottom: 0em;
      font-size: 3em;
      font-weight: normal;
    }
  </style>
{% endblock custom_css_for_page %}

{% block content %}
<div class="pusher" style="margin-top: 53.6px;">
  <div class="ui inverted vertical masthead center aligned segment">
    <div class="ui text container">
      <h1 class="ui inverted header">
        Imagine-a-Beer
      </h1>
      <h2>That fits YOU Just Right</h2>
      <div class="ui huge primary button">Get Started <i class="right arrow icon"></i></div>
    </div>
  </div>
  <div class="ui vertical stripe segment" style="padding-top: 30px; padding-bottom: 30px;">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="center aligned column">
          <h2 class="ui header">Recent Reviews</h2>
        </div>
      </div>
      <div class="row">
        <div class="column">
          <div class="ui four doubling cards">
            {% for recents_review in recents_reviews %}
            <div class="ui card">
              <div class="content">
                <div class="right floated meta">{{ recents_review.beereview.created|timesince }}</div>
                <img class="ui avatar image" src="/images/avatar/large/elliot.jpg"> {{ recents_review.review_user.username}}
              </div>
              <div class="image">
                <img src="{{ recents_review.review_beer.beer_image.main.url }}">
              </div>
              <div class="content">
                  {{ recents_review.beereview.comment }}
              </div>
            </div>
            {% endfor %}
          </div>
        </div>        
      </div>
<!--       <div class="row">
        <div class="ui three stackable cards">
          <div class="card">
            <div class="image">
              <img src="/images/avatar/large/veronika.jpg">
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="/images/avatar/large/stevie.jpg">
            </div>
          </div>
          <div class="card">
            <div class="image">
              <img src="/images/avatar/large/steve.jpg">
            </div>
          </div>
        </div>
      </div> -->
    </div>
  </div>


<!--   <div class="ui vertical stripe segment">
    <div class="ui middle aligned stackable grid container">
      <div class="row">
        <div class="eight wide column">
          <h3 class="ui header">We Help Companies and Companions</h3>
          <p>We can give your company superpowers to do things that they never thought possible. Let us delight your customers and empower your needs...through pure data analytics.</p>
          <h3 class="ui header">We Make Bananas That Can Dance</h3>
          <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be bioengineered.</p>
        </div>
        <div class="six wide right floated column">
          <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">
        </div>
      </div>
      <div class="row">
        <div class="center aligned column">
          <a class="ui huge button">Check Them Out</a>
        </div>
      </div>
    </div>
  </div> -->
  <div class="ui vertical stripe quote segment">
    <div class="ui equal width stackable internally celled grid">
      <div class="center aligned row">
        <div class="column">
          <h3>"What a Company"</h3>
          <p>That is what they all say about us</p>
        </div>
        <div class="column">
          <h3>"I shouldn't have gone with their competitor."</h3>
          <p>
            <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun Officer Acme Toys
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block custom_script %}
{% endblock custom_script %}