{% extends "base.html" %}
{% load static %}

{% block custom_css_for_page %}

{% endblock custom_css_for_page %}

{% block content %}
<div class="pusher">
  <div class="full height">
    <div class="following bar">
      <div class="ui container">
        <div class="ui large secondary network menu inverted">
          <div class="item">

          </div>
        </div>
      </div>
    </div>
    <div class="masthead segment bg1">
      <div class="ui container">
        <div class="introduction">
          <h1 class="ui inverted header">
            <span class="library">Semantic UI</span>
            <span class="tagline">User Interface is the language of the web</span>
          </h1>
          <div class="ui hidden divider"></div>
          <a class="ui huge inverted download button" href="/">AA</a>
          <a class="ui huge inverted basic button" href="/">BB</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block custom_script %}
{% endblock custom_script %}