  <div class="ui fixed borderless small menu">
    <div class="ui container">
      <a href="#" class="header item nav">
        <img class="logo" src="assets/images/logo.png">
        Project
      </a>
<!--       <a href="#" class="item">Home</a>
      <div class="ui simple dropdown item">
        Dropdown <i class="dropdown icon"></i>
        <div class="menu">
          <a class="item" href="#">Link Item</a>
          <a class="item" href="#">Link Item</a>
          <div class="divider"></div>
          <div class="header">Header Item</div>
          <div class="item">
            <i class="dropdown icon"></i>
            Sub Menu
            <div class="menu">
              <a class="item" href="#">Link Item</a>
              <a class="item" href="#">Link Item</a>
            </div>
          </div>
          <a class="item" href="#">Link Item</a>
        </div>
      </div> -->
      <div class="right menu">
     <!--  <div class="item">
        <a class="ui button">Log in</a>
      </div> -->
      <div class="item" style="min-width: 100px;">
        <div class="ui fluid icon input beer search">
          <input placeholder="Search..." type="text">
          <i class="search link icon"></i>
        </div>
      </div>
    <a class="ui item navloginout">
      Logout
    </a>
<!--       <div class="item">
        <a class="ui primary basic button">Sign Up</a>
      </div> -->
      </div>
    </div>
  </div>