<h1>{{ party.title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}



		<li>내용: {{ party.content }}</li>
		<li>선호하는 맥주: {{ party.preferred_beer }}</li>
		<li>모임 장소: {{ party.place }}</li>
		<li>만나는 날짜 및 시간: {{ party.date_meeting }}</li>
		<li>게시글 올린 날짜: {{ party.pub_date }}</li>

<p>참가하려면 눌러주세요</p>

<form action="{% url 'community:vote' party.id %}" method="post">
{% csrf_token %}
{% for choice in party.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br />
{% endfor %}
<input type="submit" value="Vote" />
</form>
<a class="badge badge-primary" href="{% url 'community:party_likes' party.pk %}">{{ party.likes_user_set.count }} 참가{{ party.likes_user_set.count|pluralize }}</a>
{{party.likes_user_set.all}}