<h1>{{ meetup.title }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

	<li>내용: {{ meetup.content }}</li>
	<li>선호하는 맥주: {{ meetup.preferred_beer }}</li>
	<li>모임 장소: {{ meetup.place }}</li>
	<li>만나는 날짜 및 시간: {{ meetup.date_meeting }}</li>
	<li>게시글 올린 날짜: {{meetup.created_at}}</li>
	<li>만나는 날짜: {{meetup.date_meeting}}</li>

<p>참가하려면 눌러주세요</p>



</form>
<a class="badge badge-primary" href="{% url 'community:meetup_likes' meetup.pk %}">{{ meetup.likes_user_set.count }} 참가{{ meetup.likes_user_set.count|pluralize }}</a>
{{meetup.likes_user_set.all}}

<p>{{meetup.party_beer_image}}</p>

<p><img src="{{party.party_beer_image.url}}" class='img-responsive'/> </p>


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="">
</head>
<body>
	<script>
		// initialize and setup facebook js sdk
		window.fbAsyncInit = function() {
		    FB.init({
		      appId      : 518406051828571,
		      xfbml      : true,
		      version    : 'v2.5'
		    });
		    FB.getLoginStatus(function(response) {
		    	if (response.status === 'connected') {
		    		document.getElementById('status').innerHTML = 'We are connected.';
		    		document.getElementById('login').style.visibility = 'hidden';
		    	} else if (response.status === 'not_authorized') {
		    		document.getElementById('status').innerHTML = 'We are not logged in.'
		    	} else {
		    		document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
		    	}
		    });
		};
		(function(d, s, id){
		    var js, fjs = d.getElementsByTagName(s)[0];
		    if (d.getElementById(id)) {return;}
		    js = d.createElement(s); js.id = id;
		    js.src = "//connect.facebook.net/en_US/sdk.js";
		    fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));
		
		// login with facebook with extra permissions
		function login() {
			FB.login(function(response) {
				if (response.status === 'connected') {
		    		document.getElementById('status').innerHTML = 'We are connected.';
		    		document.getElementById('login').style.visibility = 'hidden';
		    	} else if (response.status === 'not_authorized') {
		    		document.getElementById('status').innerHTML = 'We are not logged in.'
		    	} else {
		    		document.getElementById('status').innerHTML = 'You are not logged into Facebook.';
		    	}
			}, {scope: 'email'});
		}
		
		// getting basic user info
		function getInfo() {
			FB.api('/me', 'GET', {fields: 'first_name,last_name,name,id,picture.width(150).height(150)'}, function(response) {
				document.getElementById('status').innerHTML = "<img src='" + response.picture.data.url + "'>";
			});
		}
	</script>

	<div id="status"></div>
	<button onclick="getInfo()">Get info with picture</button>s
	<button onclick="login()" id="login">Login</button>
</body>
</html>








<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.10&appId=145441949376213";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-share-button" data-href="http://www.naver.com" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="http://www.naver.com">공유하기</a></div>


<p>http://localhost:8000/community/{{party.id}}</p>


<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.10&appId=518406051828571";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div class="fb-comments" data-href="http://localhost:8000/community/{{party.id}}" data-numposts="5"></div>