{% extends "base.html" %}
{% load static %}

{% block custom_css_for_page %}
  <style type="text/css">
  body {
    background-color: #FFFFFF;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 3em;
  }
  </style>
{% endblock custom_css_for_page %}


{% block content %}

<!-- <h1>{{ object.name }}</h1>
<p> {{ object.description }}</p>

{% if beertype_beers_list %}
<ul>
{% for beer in beertype_beers_list %}
	<li> {{ beer.name }}</li>
{% endfor %}
</ul>
{% endif %} -->

<div class="ui eight column doubling stackable grid main container">
<div class="ten wide column">
  <div class="ui items">
    <div class="item">
      <div class="image">
        <img src="/images/wireframe/image.png">
      </div>
      <div class="content">
       <a class="header">{{ beer_type.name }}</a>
       <!-- <div class="extra"> {{ beer_type.nation }} <i class="kr flag"></i></div> -->
<!--      <div class="meta">
     	<span>Rating: </span>
     	<div class="ui star rating review result" data-rating="3" data-max-rating="5"></div>
     </div>  -->    
       <div class="meta">
     	  <span>Description</span>
       </div>   
       <div class="description">
     	  <p style="word-break: break-all;">{{ beer_type.description }}</p>
       </div>
      </div>
    </div>
  </div>

  <div class="ui hidden divider""></div>

  <div> maybe embed somthing</div>
  {{ related_beer }}
  <h3 class="ui dividing header">Related Beer List</h3>
  <div class="ui large middle aligned divided list">
    <div class="item">
      <div class="right floated content">
        <div class="ui star rating review result" data-rating="3" data-max-rating="5"></div>
        <p style="text-align: right;">3.0</p>
      </div>
      <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
      <div class="content">
        <a class="header" href="/beer/fitz">Fitz 
        <!-- <div class="ui star rating right review result" data-rating="3" data-max-rating="5"></div> --></a>
        <p> it is just beer </p>
      </div>
    </div>
<!--     <div class="item">
      <div class="right floated content">
        <i class="star icon"></i><i class="star icon" style="color: yellow;"></i><i class="star icon"></i><i class="star half empty icon"></i>
        <p style="text-align: right;">3.75</p>
      </div>
      <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
      <div class="content">
        <a class="header">Calsburg</a>
        <p> great beer </p>
      </div>
    </div>
    <div class="item">
      <img class="ui avatar image" src="/images/avatar/small/daniel.jpg">
      <div class="content">
        <a class="header">Asahi</a>
        <p> best beer </p>
      </div>
    </div> -->
  </div>
</div>

<!-- <div class="ui vertical divider"></div> -->
<div class="six wide column">
<div class="ui raised segment">
  <h3> Other Beertype Recom</h3>
<!--   <img class="ui medium circular image" src="/images/wireframe/square-image.png">
  <img class="ui medium circular image" src="/images/wireframe/square-image.png">
  <img class="ui medium circular image" src="/images/wireframe/square-image.png">
  <img class="ui medium circular image" src="/images/wireframe/square-image.png"> -->
  <div class="ui cards">
   {% for recom_type in recom_types %}
   <div class="ui orange centered card">
    <div class="image">
      <img class="ui small circular image" src="{% static 'a.jpg' %}">
    </div>
    <div class="content">
      <a class="header" href="#" style="font-size: 1.18571429em;">{{ recom_type.name }}</a>
      <!-- <div class="meta">
        <a>Rating: {{ recom_beer.overall_score }}</a>
        <div class="ui star rating recom" data-rating="{{ recom_beer.overall_score|floatformat:"0" }}" data-max-rating="5"></div>
      </div> -->
    </div>
  </div>
  {% endfor %}
  
 </div>
 </div>
</div>

{% endblock content %}

{% block custom_script %}
  <script type="text/javascript"> 
    $('.ui.star.rating.review.result').rating('disable');   
  </script>
{% endblock custom_script %}