{% extends "base.html" %}
{% load static %}

{% block content %}
  <style type="text/css">
  body {
    background-color: #FFFFFF;
  }
  .ui.menu .item img.logo {
    margin-right: 1.5em;
  }
  .main.container {
    margin-top: 5em;
  }
/*  .wireframe {
    margin-top: 2em;
  }
  .ui.footer.segment {
    margin: 5em 0em 0em;
    padding: 5em 0em;
  }*/
  </style>

<!--   <div class="ui four column doubling stackable grid main container">
  <div class="twelve wide column">
    <p>asdfafasdf</p>
    <p>qeaertsedfas</p>
  </div>

  <div class="column">
    <p>asdfawefasdfafg</p>
    <p>asdfqawetasdefa</p>
  </div>
 </div> -->
<div class="ui eight column doubling stackable grid main container">
<div class="ten wide column">
<div class="ui items">
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
     <a class="header">{{ object.name }}</a>
     <div class="extra"> {{ object.nation }} <i class="kr flag"></i></div>
     <div class="extra">
        Type: {{ object.beertype.name }}
     </div>
     <div class="extra">
        Calorie: {{ object.calorie }} kcal
     </div>
     <div class="meta">
        ABV: {{ object.abv }} %
     </div>
     <div class="meta">
     	<span>Rating: </span>
     	<div class="ui star rating review result" data-rating="3" data-max-rating="5"></div>
     </div>     
     <div class="meta">
     	<span>Description</span>
     </div>   
     <div class="description">
     	<p>{{ object.description }}</p>
     </div>
    </div>
  </div>
</div>

<div class="ui comments">
  <h3 class="ui dividing header">Reviews</h3>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author">Matt</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/elliot.jpg">
    </a>
    <div class="content">
      <a class="author">Elliot Fu</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <a class="avatar">
          <img src="/images/avatar/small/jenny.jpg">
        </a>
        <div class="content">
          <a class="author">Jenny Hess</a>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
            Elliot you are always so right :)
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/joe.jpg">
    </a>
    <div class="content">
      <a class="author">Joe Henderson</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Dude, this is awesome. Thanks so much
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
    <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/joe.jpg">
    </a>
    <div class="content">
      <a class="author">Joe Henderson</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Dude, this is awesome. Thanks so much
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
    <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/joe.jpg">
    </a>
    <div class="content">
      <a class="author">Joe Henderson</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Dude, this is awesome. Thanks so much
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <form class="ui reply form">
<!--     <div class="field">
      <textarea></textarea>
    </div> -->
    <br/>
    <div class="ui blue labeled submit icon button" id="Review_Write_Btn">
      <i class="icon edit"></i> Write Review
    </div>
  </form>
</div>
</div>

<!-- <div class="ui vertical divider"></div> -->
<div class="six wide column">
<div class="ui raised segment">
  <h3> Other Beer Recom</h3>
<!--   <img class="ui medium circular image" src="/images/wireframe/square-image.png">
  <img class="ui medium circular image" src="/images/wireframe/square-image.png">
  <img class="ui medium circular image" src="/images/wireframe/square-image.png">
  <img class="ui medium circular image" src="/images/wireframe/square-image.png"> -->
  <div class="ui cards">
   <div class="ui orange centered card">
    <div class="image">
      <img class="ui small circular image" src="{% static 'a.jpg' %}">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="ui orange centered card">
    <div class="image">
      <img class="ui small circular image" src="{% static 'a.jpg' %}">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
  <div class="ui orange centered card">
    <div class="image">
      <img class="ui small circular image" src="{% static 'a.jpg' %}">
    </div>
    <div class="extra">
      Rating:
      <div class="ui star rating" data-rating="4"></div>
    </div>
  </div>
 </div>
 </div>
</div>

<div class="ui tiny modal">
  <div class="header"> Modal Test Header </div>
  <div class="content">
    <form class="ui reply form">
      <label>Rating</label>
      <div class="ui selection dropdown">
          <input name="Rating" type="hidden">
          <i class="dropdown icon"></i>
          <div class="default text">Rating</div>
          <div class="menu">
              <div class="item" data-value="1"><i class="star icon"></i>1</div>
              <div class="item" data-value="1.5"><i class="star icon"></i><i class="star half empty icon"></i>1.5</div>
          </div>
      </div>
      <p></p>
      <div class="field">
        <textarea rows="3"></textarea>
      </div>
    </form>
  </div>
  <div class="actions">
    <div class="ui red cancel inverted button">Cancel</div>
    <div class="ui green ok approve inverted button">SEND</div>
  </div>
</div>

<!-- <div class="ui selection dropdown">
  <input name="Rating" type="hidden">
  <i class="dropdown icon"></i>
  <div class="default text">Rating</div>
  <div class="menu">
      <div class="item" data-value="1"><i class="empty star icon"></i>1</div>
      <div class="item" data-value="0">2</div>
  </div>
</div> -->

<!-- {% if beer_reviews %}
<p> Reviewed </p>
<ul>
{% for review in beer_reviews %}
	<li> {{review.user}} said that this beer is {{ review.comment }}</li>
{% endfor %}
</ul>
{% endif %} -->

{% endblock content %}

{% block custom_script %}
  <script type="text/javascript"> 
    $('.ui.star.rating.review.result').rating('disable');   
    $("#Review_Write_Btn").click(function(){
      // $('.tiny.modal').modal({ blurring: true }).modal('show');
      $('.tiny.modal').modal('show');
      $('.ui.selection.dropdown').dropdown();
    });
    // $('.ui.selection.dropdown').dropdown();
  </script>
{% endblock custom_script %}
