{% extends "base.html" %}

{% block content %}
<div class="ui items">
  <div class="item">
    <div class="image">
      <img src="/images/wireframe/image.png">
    </div>
    <div class="content">
     <a class="header">{{ object.name }}</a>
     <div class="extra"> {{ object.nation }} <i class="kr flag"></i></div>
     <div class="extra">
        Type: {{ object.beertype.name }}
     </div>
     <div class="extra">
        Calorie: {{ object.calorie }} kcal
     </div>
     <div class="meta">
        ABV : {{ object.abv }} %
     </div>
     <div class="meta">
     	<span>Rating</span>
     	<div class="ui star rating review result" data-rating="3" data-max-rating="5"></div>
     </div>     
     <div class="meta">
     	<span>Description</span>
     </div>   
     <div class="description">
     	<p>{{ object.description }}</p>
     </div>
    </div>
  </div>
</div>

<!-- <div class="ui divider"></div> -->

<div class="ui comments">
  <h3 class="ui dividing header">Comments</h3>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/matt.jpg">
    </a>
    <div class="content">
      <a class="author">Matt</a>
      <div class="metadata">
        <span class="date">Today at 5:42PM</span>
      </div>
      <div class="text">
        How artistic!
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/elliot.jpg">
    </a>
    <div class="content">
      <a class="author">Elliot Fu</a>
      <div class="metadata">
        <span class="date">Yesterday at 12:30AM</span>
      </div>
      <div class="text">
        <p>This has been very useful for my research. Thanks as well!</p>
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
    <div class="comments">
      <div class="comment">
        <a class="avatar">
          <img src="/images/avatar/small/jenny.jpg">
        </a>
        <div class="content">
          <a class="author">Jenny Hess</a>
          <div class="metadata">
            <span class="date">Just now</span>
          </div>
          <div class="text">
            Elliot you are always so right :)
          </div>
          <div class="actions">
            <a class="reply">Reply</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="comment">
    <a class="avatar">
      <img src="/images/avatar/small/joe.jpg">
    </a>
    <div class="content">
      <a class="author">Joe Henderson</a>
      <div class="metadata">
        <span class="date">5 days ago</span>
      </div>
      <div class="text">
        Dude, this is awesome. Thanks so much
      </div>
      <div class="actions">
        <a class="reply">Reply</a>
      </div>
    </div>
  </div>
  <form class="ui reply form">
    <div class="field">
      <textarea></textarea>
    </div>
    <div class="ui blue labeled submit icon button">
      <i class="icon edit"></i> Add Reply
    </div>
  </form>
</div>


{% if beer_reviews %}
<p> Reviewed </p>
<ul>
{% for review in beer_reviews %}
	<li> {{review.user}} said that this beer is {{ review.comment }}</li>
{% endfor %}
</ul>
{% endif %}

{% endblock content %}