{% extends "base.html" %} 
{% load static %} 

{% block custom_css_for_page %}
<style type="text/css">

.main.container {
    margin-top: 2em;
    margin-bottom: 7px;
}

</style>
{% endblock custom_css_for_page %} 

{% block content %}
<div class="ui eight column stackable grid main container">
    <div class="ten wide column">
        <div class="ui items">
            <div class="item">
                <div class="image">
                    <img src="{{ beer.beer_image.main.url }}">
                </div>
                <div class="content">
                    <div class="header">{{ beer.name }}</div>
                    <a class="extra" href="{% url 'beer_type' beer.beertype.name %}"><div class="ui teal horizontal label">{{ beer.beertype.name }}</div></a>
                    <div class="extra"> {{ beer.nation }}
                        <!-- <i class="kr flag"></i> --></div>                    
                    <div class="meta">
                        ABV: {{ beer.abv }} %
                    </div>
                    <div class="meta">
                        <span>Rating: {{ beer.overall_score|floatformat:2 }} </span>
                        <div class="ui star rating review result" data-rating="{{ beer.overall_score|floatformat:'0' }}" data-max-rating="5"></div>
                    </div>
                    <div class="meta">
                        <span>Description</span>
                    </div>
                    <div class="description">
                        <p style="word-break: break-all;">{{ beer.description }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui comments">
            <h3 class="ui dividing header">Reviews</h3> {% for paged_review in paged_reviews %}
            <div class="comment">
                <a class="avatar">
        <img src="/images/avatar/small/matt.jpg">
      </a>
                <div class="content">
                    <a class="author" href="{% url 'user_review_list' paged_review.user.id  %}">{{ paged_review.user.profile.nickname }} ( Score: {{ paged_review.overall_score|floatformat:1 }} )</a>
                    <div class="metadata">
                        <span class="date">{{ paged_review.updated|timesince}}</span>
                        <!-- <span class="date">Today at 5:42PM</span> -->
                    </div>
                    <div class="text">
                        <!-- <p style="text-align: right;">{{ paged_review.overall_score|floatformat:1 }}</p> -->
                        {{ paged_review.comment }}
                    </div>
                </div>
                {% if user == paged_review.user %}
                <div class="actions">
<!--                     <a class="reply">Modify</a> -->
                    <a class="reply" id="review_del_btn">DEL</a>
                </div>
                {% else %}
                <div class="actions">
                    <a class="reply"> </a>
                </div>
                {% endif %}
            </div>
            {% endfor %}
            <p></p>
            {% if paged_reviews.has_other_pages %}
            <div class="ui pagination menu">
                {% if paged_reviews.has_previous %}
                <a class="item" href="?page={{ paged_reviews.previous_page_number }}"><i class="chevron left icon"></i></a> {% endif %} {% for i in paged_reviews.paginator.page_range %} {% if paged_reviews.number == i %}
                <a class="active item">{{ i }}</a> {% else %}
                <a class="item" href="?page={{ i }}">{{ i }}</a> {% endif %} {% endfor %} {% if paged_reviews.has_next %}
                <a class="item" href="?page={{ paged_reviews.next_page_number }}"><i class="chevron right icon"></i></a> {% endif %}
            </div>
            {% endif %}
           
            <div class="ui reply form">
                <br/> {% if user.is_authenticated %}
                <!-- <div class="ui blue labeled submit icon button" id="Review_Write_Btn">
                    <i class="icon edit"></i> Write Review
                </div> -->
                <a class="ui blue labeled submit icon button" href="{% url 'beers:review_create' slug=beer.name %}">
                    <i class="icon edit"></i> Write Review
                </a>
                {% else %}
                <div class="ui blue labeled submit icon button" id="Login_to_Write_Btn">
                    <i class="icon edit"></i> Login to Write Review
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- <div class="ui vertical divider"></div> -->
    <div class="six wide column">
        <div class="ui raised segment">
            <h3> Other Beer Recom</h3>
            <div class="ui two cards">
                {% for recom_beer in recom_beers %}
                <div class="ui orange centered card">
                    <a class="image" href="{% url 'beers:beer_detail' recom_beer.name %}">
                        <img class="ui small circular image" src="{{ recom_beer.beer_image.main.url }}">
                    </a>
                    <div class="content">
                        <a class="header" href="{% url 'beers:beer_detail' recom_beer.name %}" style="font-size: 1.18571429em;">{{ recom_beer.name }}</a>
                        <div class="meta">
                            <!-- <span>Rating: {{ recom_beer.overall_score|floatformat:2 }}</span> -->
                            <div class="ui star rating recom" data-rating="{{ recom_beer.overall_score|floatformat:'0' }}" data-max-rating="5"></div>
                        </div>
                    </div>
                </div>
                {% endfor %}               
            </div>
        </div>
    </div>
<!--     <div class="ui tiny modal create_review">
        <div class="header"> Modal Test Header </div>
        <div class="content">
            <form class="ui reply form" id="review_form" action="{% url 'beers:review_create' beer.name %}" method="post">
                {% csrf_token %}
                <div class="field">
                    {{form.overall_score.errors}}
                    <label for="{{form.overall_score.id_for_label}}">Rating</label>
                    <div class="ui selection dropdown">
                        <input name="{{ form.overall_score.html_name }}" id="{{form.overall_score.id_for_label}}" type="hidden">
                        <i class="dropdown icon"></i>
                        <div class="default text">Rating</div>
                        <div class="menu">
                            <div class="item" data-value="0.5"><i class="star half empty icon"></i>0.5</div>
                            <div class="item" data-value="1"><i class="star icon"></i>1</div>
                            <div class="item" data-value="1.5"><i class="star icon"></i><i class="star half empty icon"></i>1.5</div>
                            <div class="item" data-value="2"><i class="star icon"></i><i class="star icon"></i>2</div>
                            <div class="item" data-value="2.5"><i class="star icon"></i><i class="star icon"></i><i class="star half empty icon"></i>2.5</div>
                            <div class="item" data-value="3"><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i>3</div>
                            <div class="item" data-value="3.5"><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i><i class="star half empty icon"></i>3.5</div>
                            <div class="item" data-value="4"><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i>4</div>
                            <div class="item" data-value="4.5"><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i><i class="star half empty icon"></i>4.5</div>
                            <div class="item" data-value="5"><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i><i class="star icon"></i>5</div>
                        </div>
                    </div>
                </div>
                <p></p>
                <div class="field">
                    {{form.comment.errors}}
                    <label for="{{form.comment.id_for_label}}">Your Comments</label>
                    <textarea name="{{ form.comment.html_name }}" rows="3" id="{{form.comment.id_for_label}}"></textarea>
                </div>
            </form>
        </div>
        <div class="actions">
            <div class="ui red cancel inverted button">Cancel</div>
            <div class="ui green ok approve inverted button" id="review_submit_btn">SEND</div>
        </div>
    </div> -->
    <div class="ui tiny modal del_review">
        <div class="ui icon header">
            <i class="warning icon"></i> Delete Review
        </div>
        <div class="content">
            <p>Deleting your Review?</p>
        </div>
        <form class="ui form" id="delete_form" action="{% url 'beers:review_delete' beer.name %}" method="post">
            {% csrf_token %}
        </form>
        <div class="actions">
            <div class="ui red basic cancel button">
                <i class="remove icon"></i> No
            </div>
            <input id="hidden_del_review" type="hidden" value="">
            <div class="ui green ok inverted button" id="delete_review_yes">
                <i class="checkmark icon"></i> Yes
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block footer %}
    {% include "footer.html" %}
{% endblock %}

{% block custom_script %}
<script type="text/javascript">
$('#delete_review_yes').click(function() {
    $("#delete_form").submit();
});
$('.ui.star.rating.review.result').rating('disable');
$('.ui.star.rating.recom').rating('disable');
// $("#Review_Write_Btn").click(function() {
//     // $('.tiny.modal').modal({ blurring: true }).modal('show');
//     $('.tiny.modal.create_review').modal('show');
//     $('.ui.selection.dropdown').dropdown();
// });
$("#review_submit_btn").click(function() {
    $("#review_form").submit();
});

$("#review_del_btn").click(function() {
    $('.tiny.modal.del_review').modal('show');
});

$("#Login_to_Write_Btn").click(function() {
    window.location.href = '/accounts/kakao/login/?process=login';
});
</script>
{% endblock custom_script %}