

{% block accounts %}
    <div class="col-md-4"></div>
    <div class="col-md-4">
        {% block login_form %}
        {% endblock %}
    </div>
    <div class="col-md-4"></div>
{% endblock %}

<hr>
    {% load socialaccount %}
    <h3>Social Login</h3>
    <div class="center-block">
    {% for provider in providers %}
        {% if provider.social_app %}
            <button class="btn btn-default">
                <a href="{% provider_login_url provider.id %}">
                    {{ provider.name }}
                </a>
            </button>
        {% else %}
            <button class="btn btn-default">
                Provider {{ provider.name }} 설정이 필요합니다.
            </button>
        {% endif %}
    {% endfor %}