{% extends "base.html" %}
{% load static %}

{% block custom_css_for_page %}
<style type="text/css">
	body {
	  background-color: #E2ED99;
	}
	body > .grid {
	  height: 100%;
	}
	.image {
	  margin-top: -100px;
	}
	.column {
	  max-width: 450px;
	}
</style>
{% endblock custom_css_for_page %}

{% block content %}
<div class="ui middle aligned center aligned grid">
	<div class="column">
     	<h2 class="ui icon header">
     		<i class="users icon"></i>
         		<div class="content">Meetup</div>
         		<div class="sub header">{{meetup.title}}</div>
         	</h2>

		<div class="content">
			<p>Lets meet at {{meetup.place}} </p>
			<p>at {{meetup.date_meetup}}</p>
			<p>{{meetup.content|linebreaks}}</p>
			<p>join us at {{meetup.kakao_open_chat_link}}</p>

			<div class="ui large red cancel inverted button" id="create_meetup_cancel_btn">Cancel</div>
		</div>
    	</div>
        
        <!-- <form class="ui large form" id="meetup_create_form" action="{% url 'community:meetup_create' %}" method="post" autocomplete="off">
            {% csrf_token %}
            <div class="ui stacked segment">            
                <div class="required field">
                    {{form.title.errors}}
                    <div class="ui left icon input">
                        <i class="write icon"></i>
                        <input name="{{ form.title.html_name }}" id="{{form.title.id_for_label}}" placeholder="meetup title">{{form.title.value|default_if_none:''}}</input>
                    </div>
                </div>
                <div class="required field">
                    {{form.date_meetup.errors}}
                     <div class="ui calendar" id="meetup_datetime">
                        <div class="ui left icon input">
                            <i class="calendar icon"></i>                     
                            <input type="text" name="{{ form.date_meetup.html_name }}" id="{{form.date_meetup.id_for_label}}" placeholder="date time of meetup">{{form.date_meetup.value|default_if_none:''}}</input>
                        </div>
                    </div>
                </div>
                <div class="required field">
                    {{form.content.errors}}
                    <div class="ui left icon input">
                        <textarea name="{{ form.content.html_name }}" rows="3" id="{{form.content.id_for_label}}" placeholder="detail of meetup">{{form.content.value|default_if_none:''}}</textarea>
                    </div>
                </div>
                <div class="required field">
                    {{form.place.errors}}
                    <div class="ui left icon input">
                        <i class="map outline icon"></i>
                        <input name="{{ form.place.html_name }}" id="{{form.place.id_for_label}}" placeholder="place">{{form.place.value|default_if_none:''}}</input>
                    </div>
                </div>
                <div class="field">
                    {{form.kakao_open_chat_link.errors}}
                    <div class="ui left icon input">
                        <i class="comments outline icon"></i>
                        <input name="{{ form.kakao_open_chat_link.html_name }}" id="{{form.kakao_open_chat_link.id_for_label}}" placeholder="KAKAO OpenChat Link">{{form.kakao_open_chat_link.value|default_if_none:''}}</input>
                    </div>
                </div>
                <div class="ui large red cancel inverted button" id="create_meetup_cancel_btn">Cancel</div>
                <div class="ui large green submit inverted button" id="create_meetup_submit_btn">Submit</div>                
            </div>
        </form> -->
    </div>
</div>
{% endblock content %}

{% block custom_script %}
<script type="text/javascript">

</script>
{% endblock custom_script %}