{% extends "base.html" %}
{% load static %}

{% block custom_css_for_page %}
<!-- <script type="text/javascript" src="/bower_components/semantic-ui-calendar/dist/calendar.min.js"></script> -->

<!-- <link rel="stylesheet" href="/bower_components/semantic-ui-calendar/dist/calendar.min.css" /> -->
<link rel="stylesheet" href="{% static 'calendar.min.css' %}" />
<style type="text/css">
	body {
	  background-color: #DADADA;
	}
	body > .grid {
	  height: 100%;
	}
	.image {
	  margin-top: -100px;
	}
	.column {
	  max-width: 450px;
	}
</style>
{% endblock custom_css_for_page %}

{% block content %}
<div class="ui tiny modal create_meetup">
    <div class="header"> Create Meetup </div>
    <div class="content">
        <form class="ui reply form" id="meetup_create_form" action="{% url 'community:meetup_create' %}" method="post">
            {% csrf_token %}            
            <div class="required field">
                {{form.title.errors}}
                <label for="{{form.title.id_for_label}}">Title</label>
                <input name="{{ form.title.html_name }}" id="{{form.title.id_for_label}}">{{form.title.value|default_if_none:''}}</input>
            </div>
            <div class="required field">
                {{form.date_meetup.errors}}
                
                    <label for="{{form.date_meetup.id_for_label}}">DATE</label>
                    <div class="ui calendar" id="meetup_datetime">
                    <div class="ui input">
                    <input type="text" name="{{ form.date_meetup.html_name }}" id="{{form.date_meetup.id_for_label}}">{{form.date_meetup.value|default_if_none:''}}</input>
                    </div>
                </div>
            </div>
            <div class="required field">
                {{form.content.errors}}
                <label for="{{form.content.id_for_label}}">Content</label>
                <textarea name="{{ form.content.html_name }}" rows="3" id="{{form.content.id_for_label}}">{{form.content.value|default_if_none:''}}</textarea>
            </div>
            <div class="required field">
                {{form.place.errors}}
                <label for="{{form.place.id_for_label}}">Place</label>
                <input name="{{ form.place.html_name }}" id="{{form.place.id_for_label}}">{{form.place.value|default_if_none:''}}</input>
            </div>
            <div class="field">
                {{form.kakao_open_chat_link.errors}}
                <label for="{{form.kakao_open_chat_link.id_for_label}}">KAKAO OpenChat</label>
                <input name="{{ form.kakao_open_chat_link.html_name }}" id="{{form.kakao_open_chat_link.id_for_label}}">{{form.kakao_open_chat_link.value|default_if_none:''}}</input>
            </div>
        </form>
    </div>
    <div class="actions">
        <div class="ui red cancel inverted button">Cancel</div>
        <div class="ui green ok approve inverted button" id="create_meetup_submit_btn">SEND</div>
    </div>
</div>
{% endblock content %}

{% block custom_script %}
<script type="text/javascript" src="{% static 'calendar.min.js' %}"></script>
<script type="text/javascript">
	// $('.tiny.modal.create_review').modal('show');
    $('#{{form.date_meetup.id_for_label}}').calendar();
    $("#create_meetup_submit_btn").click(function() {
        $("#meetup_create_form").submit();
    });
    $('.tiny.modal.create_meetup').modal({
    		onHidden : function() {
      		window.location.href = '{% url 'community:meetups' %}';
    		}
    }).modal('show');

</script>
{% endblock custom_script %}
