beereview/beer_detail2.html

<h2>Beer Detail</h2>


{{ beer.name }}
{{ beer.nation }}

{{ beer_score_full }}


{{ beer.description }}

<hr>

<h2> Review lists </h2>


{#{% for review in review_list %}#}
{##}
{##}
{#    <p>username: {{ review.user.username }}</p>#}
{#    <p>overallscore : {{ review.overall_score }}</p>#}
{#    <p>comment : {{ review.comment }}</p>#}
{#    <p>updated: {{ review.updated | date:"Y.m.d"}}</p>#}
{##}
{##}
{#    <p>img: {{ review.user.img_url }}</p>#}
{#    <p>idx : {{ review.user_id }}</p>#}
{##}
{#    {% if request.user.id != review.user_id %}#}
{#        False#}
{#    {% else %}#}
{#        True#}
{#    {% endif %}#}
{#    <hr>#}
{#{% endfor %}#}

{% for paged_review in paged_reviews %}

<p>{{ paged_review.comment }}</p>

{% endfor %}


{% if paged_reviews.has_other_pages %}
        <div class="row justify-content-center pagination">
            <ul class="pagination">
                {% if paged_reviews.has_previous %}
                    <a href="?page={{ paged_reviews.previous_page_number }}"></a>
                {% else %}
                    <span class="disabled"></span>
                {% endif %}
                {% for i in paged_reviews.paginator.page_range %}
                    {% if paged_reviews.number == i %}
                        <span class="active">{{ i }} <span class="sr-only"></span></span>
                    {% else %}
                        <a href="?page={{ i }}">{{ i }}</a>
                    {% endif %}
                {% endfor %}
                {% if paged_reviews.has_next %}
                    <a href="?page={{ paged_reviews.next_page_number }}"></a>
                {% else %}
                    <span class="disabled"></span>
                {% endif %}

            </ul>
        </div>
    {% endif %}



{% for modifiable in review_modifiable %}
    <p>{{ modifiable}}</p>
{% endfor %}

<hr>


<h2>Other Beer Recom</h2>

{% for recom_beer in recom_beers %}
    <p>beer name : {{ recom_beer.name }}</p>
    <p>beer star : {{ recom_beer.overall_score|floatformat }}</p>
{% endfor %}




<form action="{% url 'beers:review_create' beer.name %}" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>


    <input type="submit">
</form>
